body {
  margin: 0px;
  padding: 0px;
}

body a{
  text-decoration: none;
}

/* HEADER */
header {
  height: 292px;
  background-image: url("./assets/images/header/rectangle.png");
}

.container-row{
  display: flex;
  flex-direction: row;
}

.container-col{
  display: flex;
  flex-direction: column;
}

.container-col-justCenter{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.headerCol{
 height: 292px;
 /* justify-content: space-between; */
}

.headerTriangles {
  background-image: url("./assets/images/header/triangles.png");
  height: 188px;
  border:2px solid yellow;
}

.socialIcone{
  color: rgb(255, 255, 255);

}



/* .triangles{
  border: 2px solid yellow;
  height: 200px;
}
.triangle-bottomleft { 
  width: 0; 
  height: 0; 
  border-bottom: 200px solid red; 
  border-right: 400px solid transparent; 
}

.triangle-bottomright { 
  width: 0; 
  height: 0; 
  border-bottom: 200px solid red; 
  border-left: 600px solid transparent; 
} */

/* ASIDE */
.asideDiv {
  width: 200px;
}



.userSection {
  border:2px solid blue;
  justify-content: space-around;
  height: 400px;
}
.userInfo {
  width: 200px;
  height: 400px; 
  background: rgb(255, 255, 255); 
  box-shadow: 0px 3px 10px 10px rgba(189, 189, 189, 0.76);
  border: 2px solid yellow;
  justify-content: space-around;
  align-items: center;
}

.userTriangle { 
  content: ""; 
  position: relative;
  width: 0; 
  height: 0; 
  border-bottom: 40px solid rgb(255, 255, 255); 
  border-left: 200px solid transparent;
  bottom: 20px; 
}

.userPic {
  border-radius : 50%;
  height: 100px;
  width: 100px;
  background-color: black;
  position: absolute;
  z-index: 10;
}


/* SECTION */
.article h1{
  font-size: 20px;
}

.article p{
  font-size: 12px;
}

.article {
  width: 620px;
  border: 1px solid blue;
  justify-content: space-around;
}

/* FOOTER */
footer {
  height: 100px;
  background-image: url("./assets/images/footer/footer-rectangle.png");
}